<form class="example-form">
    <mat-form-field class="example-full-width" >
      <input matInput value=" " #searchBox autocomplete="off" (keyup)="applyFilter(searchBox.value)">
    </mat-form-field>
</form>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding >
      <button mat-icon-button disabled></button>
      <button mat-icon-button (click)="removeItem(node)"><mat-icon>clear</mat-icon></button>
      {{node.name}}
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-form-field>
        <mat-label>New item...</mat-label>
        <input matInput #itemValue >
      </mat-form-field>
      <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
    </mat-tree-node>

    <mat-tree-node  *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding >
      <button mat-icon-button matTreeNodeToggle>
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.name}}
      <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>
    </mat-tree-node>
  </mat-tree>

