<form class="example-form">
  <mat-form-field class="example-full-width" >
    <input matInput #searchBox autocomplete="off">
    <mat-hint>Search...</mat-hint>
  </mat-form-field>
</form>
<mat-tree #matTree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [ngClass]="{'hide': node.shouldHide}">
    <button *ngIf="treeControl.isExpandable(node)" mat-icon-button matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
    <button mat-icon-button (click)="addNewNode(node)"><mat-icon>add</mat-icon></button>
    <button mat-icon-button (click)="removeNode(node)"><mat-icon>delete</mat-icon></button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-form-field>
      <mat-label>New item...</mat-label>
      <input matInput #itemValue >
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node>
</mat-tree>

