.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }

  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }
  
button{
    padding:0px 5px; 
    background-color:transparent;
    border: 0px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    padding: 30px;
  }
  
  .example-full-width {
    width: 50%;
  }

  div p{
    padding-left: 30px;
  }

  .hide{
    display: none;
  }